<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actual payment</title>
</head>
<body>
<div id="check">
    <h2>Opłaty za miesiąc (poprzedni): <span id="previousMonthId">monthId</span></h2>
    <div>Opłata za czesne: <strong id="previousMonthTuitionId">tuitionId</strong></div>
    <div>Opłata za posiłki: <strong id="previousMonthMealsId">mealsId</strong></div>
    <div>Łącznie: <strong id="previousMonthSummaryId">summaryId</strong></div>
</div>
<div>
    <h2>Opłaty za miesiąc (obecny): <span id="monthId">monthId</span></h2>
    <div>Opłata za czesne: <strong id="tuitionId">tuitionId</strong></div>
    <div>Opłata za posiłki: <strong id="mealsId">mealsId</strong></div>
    <div>Łącznie: <strong id="summaryId">summaryId</strong></div>
    <br><div>Wykaz posiłków:</div>
</div>
<div>
    <table>
        <thead>
        <th>Data</th>
        <th>Kwota</th>
        </thead>
        <tbody>
        <tr id="showAttendanceId">
            <td id="attendanceDateId"/>
            <td id="attendanceStatusId"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>