<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actual payment</title>
</head>
<body>
<div>
    <h2>Opłaty za miesiąc: <span id="monthId">monthId</span></h2>
    <div>Opłata za czesne: <strong id="tuitionId">tuitionId</strong></div>
    <div>Opłata za posiłki: <strong id="mealsId">mealsId</strong></div>
    <div>Łącznie: <strong id="summaryId">summaryId</strong></div>
    <br><div>Wykaz posiłków:<strong>(w przygotowaniu)</strong></div>
</div>
<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>