<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all payments</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>Imię rodzica</th>
        <th>Nazwisko rodzica</th>
        <th>Imię dziecka</th>
        <th>Nazwisko dziecka</th>
        <th>Czesne</th>
        <th>Posiłki</th>
        <th>Razem</th>
        </thead>
        <tbody>
        <tr id="showPaymentsId">
            <td id="parentFirstNameId"/>
            <td id="parentLastNameId"/>
            <td id="childrenFirstNameId"/>
            <td id="childrenLastNameId"/>
            <td id="tuitionId"/>
            <td id="mealsId"/>
            <td id="summaryId"/>
        </tr>
        </tbody>
    </table>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>