<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wiadomości od dyrekcji</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<footer id="headerId"/>
<div>
    <i class="bi bi-chat-dots mx-3" style="font-size: 2rem; color: cornflowerblue;">&emsp;Wiadomości od dyrekcji</i>
</div>
<div>
    <table class="table table-sm table-striped table-hover">
        <thead class="bg-primary bg-gradient text-white shadow ">
        <th>Data</th>
        <th>Treść</th>
        </thead>
        <tbody>
        <tr id="showParentsId">
            <td id="presentDataId"/>
            <td id="messageId"/>
        </tr>
        </tbody>
    </table>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>