<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wiadomości do rodziców</title>
</head>
<body>

<form id="mainFormId">
    <div>
        <table>
            <thead>
            <td>Zaznaczenie</td>
            <th>Imię rodzica</th>
            <th>Nazwisko rodzica</th>
            <th>Imię dziecka</th>
            <th>Nazwisko dziecka</th>
            <th>Adres zamieszkania</th>
            <th>Telefon</th>
            <th>Adres e-mail</th>
            <th>Zobacz wysłane wiadomości</th>
            <th>Wyślij wiadomość</th>
            <th>Edycja</th>
            <th>Usuń</th>
            </thead>
            <tbody>
            <tr id="showParentsId">
                <td><input id="checkboxId"></td>
                <td id="parentFirstNameId"/>
                <td id="parentLastNameId"/>
                <td id="childrenFirstNameId"/>
                <td id="childrenLastNameId"/>
                <td id="addressId"/>
                <td id="phoneNumberId"/>
                <td id="emailId"/>
                <td><a id="showMessagesId"/></td>
                <td>
                    <a id="sendMessageButtonId"></a>
                </td>
                <td>
                    <a id="editParentId"/>
                <td/>
                <td>
                    <a id="deleteParentId"/>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div>
        <div>
            <input id="listOfParentsMessageIdId"/>
        </div>

        <div>
            <input id="listOfParentsMessageMessageId"/>
        </div>
    </div>


    <div>
        <button type="submit">Wyślij do zaznaczonych</button>
    </div>
</form>
<p></p>




<form id="formSendToAllId">

    <div>
        <tr id="showParentsId">
            <td><input id="tempParentIdId"></td>
        </tr>
    </div>

    <div>
        <div>
            <input id="listOfParentsMessageIdId"/>
        </div>
        <div>
            <input id="listOfParentsMessageMessageId">
        </div>
    </div>


    <div>
        <button type="submit">Wyślij do wszystkich</button>
    </div>
</form>

<div>
    <a id="addParent"/>
</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>

</body>
</html>