<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Parent Stuff</title>
</head>
<body>
<div>

        <table>
            <thead>

            </thead>
            <tr>
                <td>Chusteczki suche </td>
                <td><span id="dryWipesId">dryWipesId</span></td>
            </tr>
            <tr>
                <td>Chusteczki mokre </td>
                <td><span id="wetWipesId">wetWipesId</span></td>
            </tr>
            <tr>
                <td>Pieluchy </td>
                <td><span id="diapersId">diapersId</span></td>
            </tr>
            <tr>
                <td>Ręczniki </td>
                <td><span id="towelsId">towelsId</span></td>
            </tr>
            <tr>
                <td>Śliniaki </td>
                <td><span id="bibsId">bibsId</span></td>
            </tr>
        </table>

        <hr>
</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>