<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Parent Stuff</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<footer id="headerId"/>
<div>
    <i class="bi bi-bag-check mx-3" style="font-size: 2rem; color: cornflowerblue;">&emsp;Zestawienie rzeczy</i>
</div>

<div>
    <table class="table table-sm table-striped table-hover">
        <thead class="bg-primary bg-gradient text-white shadow ">
        <th>Rzecz</th>
        <th>Ilość</th>
        </thead>
        <tbody>
        <tr>
            <td>Chusteczki suche </td>
            <td><span id="dryWipesId">dryWipesId</span></td>
        </tr>
        <tr>
            <td>Chusteczki mokre </td>
            <td><span id="wetWipesId">wetWipesId</span></td>
        </tr>
        <tr>
            <td>Pieluchy </td>
            <td><span id="diapersId">diapersId</span></td>
        </tr>
        <tr>
            <td>Ręczniki </td>
            <td><span id="towelsId">towelsId</span></td>
        </tr>
        <tr>
            <td>Śliniaki </td>
            <td><span id="bibsId">bibsId</span></td>
        </tr>
        </tbody>
    </table>

</div>

<div>

        <table>
            <thead>

            </thead>

        </table>

        <hr>
</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>