<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Update Stuff</title>
</head>
<body>
<div>

    <form id="formId">
        <div><input id="parentIdId"/></div>
        <table>
            <tr>
                <td>Chusteczki suche </td>
                <td><input id="dryWipesId"/></td>
            </tr>
            <tr>
                <td>Chusteczki mokre </td>
                <td><input id="wetWipesId"/></td>
            </tr>
            <tr>
                <td>Pieluchy </td>
                <td><input id="diapersId"/></td>
            </tr>
            <tr>
                <td>Ręczniki </td>
                <td><input id="towelsId"/></td>
            </tr>
            <tr>
                <td>Śliniaki </td>
                <td><input id="bibsId"/></td>
            </tr>
        </table>

        <button type="submit">Zapisz</button>
        <hr>
    </form>

</div>

<div>
    <a id="backId"/>
</div>
</body>
</html>