<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Form</title>
</head>
<body>
<table>
    <thead>
    <th>Data</th>
    <th>Status obecności</th>
    <th>Zmiana statusu</th>
    </thead>
    <tbody>
    <tr id="showAttendanceId">
        <td id="attendanceDateId"/>
        <td id="attendanceStatusId"/>
        <td><a id="attendanceButtonStatusId">Zmień status</a>
        </td>
    </tr>
    </tbody>
</table>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>