<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista obecności - zestawienie</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>Imię rodzica</th>
        <th>Nazwisko rodzica</th>
        <th>Imię dziecka</th>
        <th>Nazwisko dziecka</th>
        <th>Adres zamieszkania</th>
        <th>Telefon</th>
        <th>Adres e-mail</th>
        <th>Zestawienie obecności/nieobezności</th>
        </thead>
        <tbody>
        <tr id="showParentsId">
            <td id="parentFirstNameId"/>
            <td id="parentLastNameId"/>
            <td id="childrenFirstNameId"/>
            <td id="childrenLastNameId"/>
            <td id="addressId"/>
            <td id="phoneNumberId"/>
            <td id="emailId"/>
            <td><a id="linkToListId"/></td>
        </tr>
        </tbody>
    </table>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>

</body>
</html>