<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista obecności - zestawienie dzisiejszego dnia</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>Imię rodzica</th>
        <th>Nazwisko rodzica</th>
        <th>Imię dziecka</th>
        <th>Nazwisko dziecka</th>
        <th>Data</th>
        <th>Status</th>
        </thead>
        <tbody>
        <tr id="showParentsId">
            <td id="parentFirstNameId"/>
            <td id="parentLastNameId"/>
            <td id="childrenFirstNameId"/>
            <td id="childrenLastNameId"/>
            <td id="presentDataId"/>
            <td id="presentStatusId"/>
        </tr>
        </tbody>
    </table>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>