<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista obecności - zestawienie dzisiejszego dnia</title>
</head>
<body>
<div>
    <table>
        <thead>
        <th>Imię rodzica</th>
        <th>Nazwisko rodzica</th>
        <th>Imię dziecka</th>
        <th>Nazwisko dziecka</th>
        <th>Data</th>
        <th>Zgłoszenie od rodzica</th>
        <th>Stan faktyczny</th>
        <th>Dopłata</th>
        </thead>
        <tbody>
        <tr id="showParentsId">
            <td id="parentFirstNameId"/>
            <td id="parentLastNameId"/>
            <td id="childrenFirstNameId"/>
            <td id="childrenLastNameId"/>
            <td id="presentDataId"/>
            <td id="presentStatusFromParentId"/>
            <td>
                <span id="trueChoiceId">Zmień status</span>
                <span id="falseChoiceId"><a id="presentStatusFromDirectorId">Zmień status</a></span>
            </td>

            <td id="extraPaymentId"/>
        </tr>
        </tbody>
    </table>

</div>

    <div>
        <a th:href="@{/messages/sendPredefinedMessage}">Wyślij powiadomienie o naliczonych opłatach</a>
    </div>
<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>