<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista obecności - zestawienie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<footer id="headerId"/>
<div>
    <i class="bi bi-check2-all mx-3" style="font-size: 2rem; color: cornflowerblue;">&emsp;Obecności/nieobecności - zestawienie wszystkich rodziców</i>
</div>
<div>
    <table class="table table-sm table-striped table-hover">
        <thead class="bg-primary bg-gradient text-white shadow ">
            <th>Imię rodzica</th>
            <th>Nazwisko rodzica</th>
            <th>Imię dziecka</th>
            <th>Nazwisko dziecka</th>
            <th>Adres zamieszkania</th>
            <th>Telefon</th>
            <th>Adres e-mail</th>
            <th>Zestawienie obecności/nieobezności</th>
        </thead>
        <tbody>
        <tr id="showParentsId">

            <td id="parentFirstNameId"/>
            <td id="parentLastNameId"/>
            <td id="childrenFirstNameId"/>
            <td id="childrenLastNameId"/>
            <td id="addressId"/>
            <td id="phoneNumberId"/>
            <td id="emailId"/>
            <td>
                <a class="btn btn-outline-primary btn-sm shadow form-control" role="button" id="linkToListId"/>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>

</body>
</html>