<!DOCTYPE html>
<html lang="pl">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<footer id="footerId">
    <p><hr></p>
    <p><a href="/menu" class="btn btn-secondary btn-lg" style="width: 100%" role="button">Powrót do głównego menu<a/></p>
</footer>


<footer id="headerId">
        <p>
            <span id="userId"></span><a id="logoutId"><i class="bi bi-power h4 text-danger p-3"></i></a>
        </p>

</footer>

</html>