<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>New Message Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>



    <form id="formId">

        <div>
            <input id="messageIdId"/>
        </div>

        <input id="idOfSingleParentsId"/>
        <input id="singleParentStatusId"/>
        <div>
            <input id="messageId"/>
        </div>

        <button type="submit">Save</button>
        <hr>
    </form>

</div>

<div>
    <a id="backId"/>
</div>
</body>
</html>