<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Message Form</title>
</head>
<body>
<div>

    <form id="formId">

        <div>
            <input id="messageIdId"/>
        </div>

        <input id="idOfSingleParentsId"/>
        <input id="singleParentStatusId"/>
        <div>
            <input id="messageId"/>
        </div>

        <button type="submit">Save</button>
        <hr>
    </form>

</div>

<div>
    <a id="backId"/>
</div>
</body>
</html>