<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Message Form</title>
</head>
<body>
<div>

    <form id="formId">

        <div>
            <input id="messageIdId"/>
        </div>
        <div>
            <input id="parentId"/>
        </div>
        <div>
            <input id="dateId"/>
        </div>
        <div>
            <input id="messageId"/>
        </div>

        <button type="submit">Save</button>
        <hr>
    </form>

</div>

<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>