<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zlobek application</title>
</head>
<body>
<div>
    <h2>Director of institution content</h2>
    <a id="showId">showId content</a></br>
    <a id="oneDayAttendanceListOfAllParentsId">oneDayAttendanceListOfAllParentsId content</a></br>
    <a id="attendanceListOfAllParentsId">attendanceListOfAllParentsId content</a></br>
    <a id="questionListOfAllParentsId">questionListOfAllParentsId content</a></br>
    <a id="paymentsListOfAllParentsId">paymentsListOfAllParentsId content</a></br>
    <a id="babyStuffListId">babyStuffListId content</a></br>
    <a id="babysitterListId">babysitterListId content</a>
</div>
<hr>
<div>
    <h2>User (Parent) content</h2>
    <a id="attendanceId">showId content</a></br>
    <a id="messagesFromDirectorId">messageId content</a></br>
    <a id="questionToDirectorId">questionId content</a></br>
    <a id="paymentsId">paymentsId content</a></br>
    <a id="parentStuffId">parentStuffId content</a></br>
</div>

</body>
</html>