<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grafik opiekunek</title>
</head>
<body>

    <div>
        <table>
            <thead>
            <td>Imię i nazwisko opiekunki</td>
            <th>Data (dzień)</th>
            <th>Godzina rozpoczęcia zmiany</th>
            <th>Godzina zakończenia zmiany</th>
            </thead>
            <tbody>
            <tr id="showShiftsId">
                <td>
                <a id="babysitterNameId"/>
                </td>
                <td id="dateId"/>
                <td id="startShiftId"/>
                <td id="endShiftId"/>

            </tr>
            </tbody>
        </table>

    </div>

<p></p>



    <footer id="footerId">
        <p>Footer content</p>
    </footer>
</body>
</html>