<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie opiekunki</title>
</head>
<body>

<div>
    <table>
        <thead>
        <td>Imię i nazwisko opiekunki</td>
        <th>Edycja</th>
        <th>Usuń</th>
        </thead>
        <tbody>
        <tr id="showBabysittersId">
            <td>
                <a id="babysitterNameId"/>
            </td>
            <td>
                <a id="editBabysitterId"/>
            </td>
            <td>
                <a id="deleteBabysitterId"/>
            </td>


        </tr>
        </tbody>
    </table>
    <div>
    <a id="addBabysitterId"/>
    </div>
</div>

<p></p>


<footer id="footerId">
    <p>Footer content</p>
</footer>
</body>
</html>