<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Grafik opiekunki</title>
</head>
<body>

<div>
    <h2>Imię i nazwisko opiekunki: <span id="babysitterNameId">babysitterNameId</span></h2>
</div>

    <div>
        <table>
            <thead>
            <th>Data (dzień)</th>
            <th>Godzina rozpoczęcia zmiany</th>
            <th>Godzina zakończenia zmiany</th>
            </thead>
            <tbody>
            <tr id="showBabysittersShiftsId">
                <td id="dateId"/>
                <td id="startShiftId"/>
                <td id="endShiftId"/>

            </tr>
            </tbody>
        </table>

    </div>
<p></p>
<div><a id="addShiftId">addShiftId</a></div>
<p></p>


<div>
    <input id="backId" />
</div>
</body>
</html>